.home {
  max-width: 1200px;
  margin: 0 auto;
}

/* Caja contenedora */
.hero-section {
  text-align: center;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen centrada */
.home-image {
  max-width: 100%;
  max-height: 500px; /* límite opcional */
  object-fit: contain;
}
